@media screen and (max-width: 1100px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-main {
        max-width: auto;
    }

    .hamburger {
        display: block;
    }

    .header-main__nav {
        display: none;
        position: absolute;
        right: 0;
        height: 550px;
        top: 150px;
        background-color: rgba(182, 164, 152, 0.9);
    }

    .header__toggle.is-active + .header-main__nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        width: 50%;
        height: 650px;
        z-index: 100;
    }

    .header-main__nav--prop {
        display: block;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 30px;
    }

    .header-main__number {
        display: none;
        position: relative;
        right: 0;
    }

    .header-main__nav--prop li:not(:last-child) {
        margin-bottom: 50px;
    }

    .header__icons {
        width: 100%;
        display: block;
        position: absolute;
        z-index: 100;
        top: 500px;
        margin-left: auto;
        margin-right: auto;
    } 

    

    /*--- БАННЕР начало ---*/
    .banner-content {
        width: 50%;
    }

    .banner__img {
        object-fit: cover;
        width: 50%;
        height: 90%;
    }

    .banner__text {
        display: none;
    }

    /*--- БАННЕР конец ---*/

    /*--- ОБО МНЕ начало ---*/
    .about img {
        object-fit: cover;
        width: 450px;
        height: 600px;
    }

    .about-content p {
        font-size: 20px;
    }
    /*--- ОБО МНЕ конец ---*/


    /*--- ПОРТФОЛИО начало ---*/
    .portfolio {
        height: 650px;
    }

    .portfolio__slaider--flex img {
        max-width: 300px;
        max-height: 430px;
        object-fit: cover;
    }

    .portfolio__slaider--flex {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    .portfolio__slaider--js-styles {
        display: none;
    }

    .portfolio__slaider--js-media {
        max-width: 1140px;
        max-height: 355px;
        display: block;
        justify-content: space-between;
        overflow: hidden;
    } 

    .portfolio__slaider--images {
        max-width: 100%;
    }

    .portfolio__slaider--images-items {
        width: 100%;
    }

    .portfolio__arrows {
        top: -635px;
        left: calc(100vw - 140px);
        display: inline;
    }

    .portfolio__arrows button {
        transform: rotate(-90deg);
    }

    .portfolio__arrows button:not(:last-child) {
        margin-right: 30px;
    }
    /*--- ПОРТФОЛИО конец ---*/

    .sertificate__content {
        width: 50%;
        padding-right: 30px;
    }

    reviews__slider-js-container {
        overflow: hidden;
    }

    .contacts img {
        max-width: 50%;
    }

}

@media screen and (max-width: 900px) {
    h2 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    .hamburger {
        display: block;
    }

    .hamburger-box {
        position: relative;

    }

    .header__toggle.is-active + .header-main__nav {
        height: 550px;
    }

    .header__icons {
        top: 450px;
    } 

    .header-main__nav--prop {
        font-size: 22px;
        margin-top: 50px;
    }

    /*--- БАННЕР начало ---*/
    .banner {
        height: 550px;
    }

    .banner p {
        font-size: 18px;
    }

    .banner__text {
        display: none;;
    }

    .banner-content {
        width: 50%;
    }

    .banner-content_button--prop {
        margin-left: 0;
        margin-top: 30px;
    }

    .banner-content_button--prop img {
        width: 50px;
        height: 50px;
    }
    /*--- БАННЕР конец ---*/

    /*--- ОБО МНЕ начало ---*/
    .about {
        padding-top: 50px;
        /* height: auto;
        padding-bottom: 100; */
    }

    .about img {
        position: relative;
        top: 90px;
        width: 50%;
        max-height: 70%;
    }

    .about p {
        font-size: 18px;
    }

    .about-content {
        padding-right: 30px;
    }

    .about-content--statistic {
        position: relative;
        width: 100%;
    }

    .about-content__text--prop {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /*--- ОБО МНЕ конец ---*/
    .reviews-items {
        width: 400px;
    }

    /*--- УСЛУГИ начало ---*/
    .services {
        height: auto;
    }

    .services--prop {
        padding-top: 50px;
    }

    .services__items {
        display: block;
        flex-direction: column;
    }

    .services__items--prop {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        max-width: 100%;
    }

    .services h3 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* .services img {
        width: 100%;
        height: auto;
    }  */

    .services__items--prop-toggle {
        padding-left: 20px;
    }

    .services__items--toggle-content p {
        font-size: 22px;
    }

    /*--- УСЛУГИ конец ---*/
    
    /*--- ПОРТФОЛИО начало ---*/
    .portfolio h2 {
        margin-bottom: 70px;
    }

    .portfolio__arrows {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 20px;
        left: 0;
        top: -590px;
        gap: 380px;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio__arrows button {
        transform: none;
    }
    
    .portfolio__arrows button:not(:last-child) {
        margin-right: 0;
        margin-bottom: 0;
    }
    /*--- ПОРТФОЛИО конец ---*/

    /*--- СЕРТИФИКАТ начало ---*/
    .sertificate--prop img {
        width: 50%;
    }

    /* .sertificate__content {
        width: 50%;
        padding-right: 30px;
    } */

    .sertificate__content p:not(:last-child) {
        margin-bottom: 20px;
    }
    .sertificate__content--button img {
        height: 50px;
        width: 50px;
    }

    .sertificate__content--main-img {
        position: relative;
        top: 100px;
        height: 100%;
    }    
    /*--- СЕРТИФИКАТ конец ---*/
    
    /*--- ОТЗЫВЫ начало ---*/
    .reviews__slider-js {
        width: 100%;
    }
    /*--- ОТЗЫВЫ конец ---*/

    /*--- КОНТАКТЫ начало ---*/
    .contacts h2 {
        padding-bottom: 0;
    }

    .contacts--prop {
        padding-top: 50px;
    }

    .contacts img {
        width: 50%;
        height: 100%;
    }

    .contacts-form {
        padding-left: 30px;
    }
    .contacts-form input {
        width: 90%;
    }

    .contacts-form__button input {
        width: 200px;
    }

    /*--- КОНТАКТЫ конец ---*/

}


@media screen and (max-width: 730px) {
    .banner h1 {
        font-size: 48px;
    }

    .banner-content {
        width: 50%;
    }

    .services__items img {
        /* max-width: 100%; */
        height: 350px;
        object-fit: cover;
    }

    .services__items--prop-toggle {
        width: 50%;
    }
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 42px;
        line-height: 51px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
        line-height: 21px;
    }

    .header__toggle.is-active + .header-main__nav {
        gap: 50px;
        width: 100%;
        height: 600px;
    }

    .header-main__nav--prop {
        font-size: 28px;
    }

    /*--- БАННЕР начало ---*/
    .banner {
        height: 600px;
    }

    .banner--prop {
        flex-direction: column;
        height: 550px;
    }

    .banner-content {
        position: relative;
        padding-top: 35px;
        width: 100%;
        text-align: center;
    }

    .banner-content p {
        font-size: 18px;
        line-height: 21px;
    }

    .banner-content_button--prop {
        display: none;
    }

    .banner__img {
        position: relative;
    }

    /*--- БАННЕР конец ---*/

    /*--- ОБО МНЕ начало ---*/
    .about {
        height: 500px;
    }

    .about p {
        font-size: 16px;
    }

    .about-content {
        width: 50%;
        padding-right: 20px;
    }

    .about-content__text--prop p:last-child {
        display: none;
    }
    
    .about img {
        margin: 0;
    }

    .about-content--statistic {

        width: 100%;
        align-items: center;
    }

    .about-content--statistic h2 {
        font-size: 36px;
    }
    /*--- ОБО МНЕ конец ---*/

    /*--- УСЛУГИ начало ---*/
    .services__items--prop div {
        position: relative;
        width: auto;
        height: auto;
        background-color: #b6a498;
        padding-left: 10px;
    } 

    .services h3 {
        font-size: 22px;
    }

    .services__items--prop p {
        font-size: 16px;
    }

    .services__items--toggle-content {
        width: 100%;
    }
    /*--- УСЛУГИ конец ---*/
    
    /*--- СЕРТИФИКАТ начало ---*/
    .sertificate {
        height: auto;
        padding-top: 50px;
    }

    .sertificate--prop {
        flex-direction: column;
    }

    .sertificate--prop img {
        width: 60%;
        top: -80px;
        right: 0;
        left: 40%;
    }

    .sertificate__content {
        width: 100%;
        padding-right: 0;
    }
    
    .sertificate h2 {
        margin-bottom: 30px;
        text-align: left;
    }

    .sertificate__content--button {
        text-align: left;
        top: 70px;
    }

    .sertificate__content--button img {
        height: 60px;
        width: 60px;
    }    
    /*--- СЕРТИФИКАТ конец ---*/

    /*--- ОБРАТНАЯ СВЯЗЬ начало ---*/
    .contacts {
        height: auto;
    }

    .contacts--prop {
        flex-direction: column;
    }

    .contacts img {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .contacts-form {
        position: relative;
        top: 100px;
        padding-left: 0;
    }

    .contacts-form__button {
        position: relative;
        left: 110%;
        top: -245px;
    }

    .text-button-click {
        display: none;
    }
    /*--- ОБРАТНАЯ СВЯЗЬ конец ---*/
 
    .footer__icons {
        display: none;
    }

}

@media screen and (max-width: 450px) {
    .about-content {
        padding-right: 0;
    }

    .about-content h2 {
        width: calc(100vw - 40px);
    }

    .about-content--statistic {
        /* width: calc(100vw - 40px); */
        display: none;
    }

    .about-content__text--prop {
        position: relative;
        top: 300px;
        width: calc(100vw - 40px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .about img {
        max-width: 100%;
        width: 100%;
        left: -25%;
        height: 50%;
    }

    /*--- УСЛУГИ начало ---*/
    .services img {
        width: 100%;
    }

    .services__items--prop div {
        position: absolute;
        /* left: 0; */
        width: calc(100vw - 40px);
        height: auto;
        background-color: rgba(182, 164, 152, 0.9);
        padding-left: 0;
    }

    .services__items--toggle h3 {
        position: absolute;
        z-index: 100;
        width: calc(100vw - 40px);
        top: 0;
        background-color: rgba(182, 164, 152, 0.9);
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        font-size: 36px;
        /* left: 20px; */
    }

    .services__items--toggle-content {
        display: none;
        height: 23%;
        position: absolute;
        z-index: 100;
        width: calc(100vw - 40px);
        background-color: rgba(182, 164, 152, 0.9);
        padding-bottom: 50px;

    }

    .services__items--prop-toggle.is-open .services__items--toggle-content {
        display: block;
        top: 147px;
        height: 135px;
    }

    .services__items--toggle-content p {
        font-size: 22px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    }


    .services__items--prop h3 {
        margin-top: 0;
        margin-bottom: 50px;
        text-align: center;
    }
    /*--- УСЛУГИ конец ---*/

    

    /*--- ОБРАТНАЯ СВЯЗЬ начало ---*/
    .contacts {
        height: auto;
    }

    .contacts img {
        position: relative;
        top: 320px;
        max-width: 100%;
    }

    .contacts-form {
        top: -300px;
        max-width: calc(100vw - 40px);
        display: flex;
    }

    .contacts-form input {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .contacts-form__button {
        top: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .contacts-form__button input {
        width: 200px;
    }

    .contacts-form__button p {
        display: none;
    }
    /*--- ОБРАТНАЯ СВЯЗЬ конец ---*/
}

